.footer {
  width: 100%;
  max-width: 100%;
  bottom: 0;
  background: #005493;
  color: white;
}

.footer .container {
  background-color: transparent;
}

.footer-header {
  font-weight: 700;
  font-style: italic;
  /*background: url(https://i.imgur.com/sZS9erl.png) repeat-x left top;*/
  background: rgb(67,134,183);
  background: linear-gradient(180deg, rgba(67,126,183,0.9528186274509804) 49%, rgba(58,123,182,1) 50%);
}
.footer-header img {
  filter: brightness(0) invert(1);
}

.footer .mid-col {
  border-right: rgba(0, 0, 0, 0.3) 1px solid;
  border-left: rgba(0, 0, 0, 0.3) 1px solid;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.footer li {
  display: flex;
  transition-duration: .1s;
}

.footer li:hover {
  background: #3e81ba;
}
.footer li:hover::after {
  font-family: 'Material Icons';
  content: 'chevron_right';
  position: absolute;
  right: 10px;
  color: #f9b61c;
}

.footer a {
  width: 100%;
  color: rgba(255,255,255,.87);
}