.navbar {
  margin-top: 58px;
  background-color: rgb(248, 248, 248);
}

.my-banner{
  background: transparent;
  color: white;
}

.top-nav {
  background: linear-gradient(to bottom, #3D79A9, #1160BB);
}
.top-nav .container {
  background-color: transparent;
}

.cat-buttons .btn{
  border-radius: 0px;
  outline: 0;
  
}

.btn:hover{
  background-color: lightgray;
  transition: .5s;
  
}

.top-navigation {
  padding: 0;
  width: 100%;
}

.dynamic-search .container {
  background-color: transparent;
}
.dynamic-search{
  background-color: lightgray;
  /*border-radius: 5px;*/
}
.dynamic-search.lifted {
  position: absolute;
  z-index: 5;
}
.dynamic-search-searchbtn {
  display: flex;
  background: #5A5A5A;
  color: white;
  border-radius: 5px;
}

.dynamic-search-overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  
  z-index: 1;
  background-color: rgb(33, 33, 33, 0.4);
  transition:visibility .2s ease-in, opacity .2s ease-in;
  visibility: visible;
}
.dynamic-search-overlay.hidden {
  opacity: 0;
  visibility: hidden;
}

.dynamic-search-container input {
  border: none;
}

#dynamic-search-content {
  overflow: auto;
  max-height: calc(100vh/2);
}

.navbar .dropdown, .navbar .dropdown2 {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.navbar .dropdown .dropdown-content, .navbar .dropdown .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar .dropdown:hover .dropdown-content, .navbar .dropdown2:hover .dropdown-content2 {
  display: block;
}

/* responsiveness */
.navbar .cooling-sm {
  display: none;
}
.navbar .mainboards-sm {
  display: none;
}

@media (max-width: 1100px) {
  .navbar .mainboards {
    display: none;
  }
  .navbar .mainboards-sm {
    display: block;
  }
}

@media (max-width: 1200px) {
  .navbar .cooling {
    display: none;
  }
  .navbar .cooling-sm {
    display: block;
  }
}