
.my-banner{
    background: linear-gradient(to bottom, #3D79A9, #1160BB);
    color: white;
}
 
.side-info{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.cat-buttons .btn{
    border-radius: 0px;
}

.top-navigation {
    padding: 0;
}

.top-navigation ul{
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
    margin: 0;
}
